.header-logo {
    height: 26px;
    margin: 0 15px 3px 10px;
    vertical-align: middle;
}

.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.hidden {
    display: none;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }