.btn.btn-inline{
    margin: 0;
}

.table td{
    vertical-align: baseline;
}

.spinner.centered {
    position: absolute;
    margin-top: 20%;
    left: calc(50% - 36px);
  }

.spinner.modal {
    position: relative;
    left: calc(50% - 36px);
}

.modal-body.unscroll {
    overflow-y: hidden;
}
  