<div class="content-container">
    <div class="content-area" style="padding-right: 2rem;padding-left: 2rem;">
        <div class="alert alert-warning" *ngIf='IsBCF'>
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                    </div>
                    <span class="alert-text">To create issue boards on your project, you must authorize it first</span>
                    <div class="alert-actions">
                        <a href="https://api.bimsync.com/1.0/oauth/authorize?client_id={{appService._client_id}}&response_type=code&state=bcf&redirect_uri={{appService._callbackUrl}}"
                            class="alert-action">Authorize</a>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" (click)="OpenCreate()">Create a new project</button>

        <span class='spinner centered' *ngIf='!loaded'>
            Loading
        </span>
        <table class="table" *ngIf='projects && projects.length'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let project of projects'>
                    <td>
                        <a href="https://bimsync.com/project/{{project.id}}">{{project.name}}</a>
                    </td>
                    <td>
                        <div class="btn-group btn-icon btn-link">
                            <button title="Quantity Takeoff" class="btn" href="#"
                                [routerLink]="['/takeoff', project.id]" routerLinkActive="active">
                                <clr-icon shape="line-chart" class="is-solid"></clr-icon>
                                <span class="clr-icon-title">Quantity Takeoff</span>
                            </button>
                            <button class="btn" title="Share your project" (click)="Share(project)">
                                <clr-icon shape="share" class="is-solid"></clr-icon>
                                <span class="clr-icon-title">Share your project</span>
                            </button>
                            <button class="btn" title="Create folders and boards" (click)="OpenCreate(project)">
                                <clr-icon shape="add-text" class="is-solid"></clr-icon>
                                <span class="clr-icon-title">Create folders and boards</span>
                            </button>
                            <button class="btn" title="Show project details" (click)="OpenDetails(project)">
                                <clr-icon shape="info-circle" class="is-solid"></clr-icon>
                                <span class="clr-icon-title">Show project details</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- add the #createModal -->
    <app-project-create-modal #createModal></app-project-create-modal>
    <!-- add the #shareModal -->
    <app-share-modal #shareModal></app-share-modal>
    <!-- add the #projectDetailModal -->
    <app-project-detail-modal #projectDetailModal></app-project-detail-modal>
</div>