<button class="btn btn-primary" (click)="open = true">Create Project</button>
<form #bimsyncProjectForm="ngForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
    <clr-modal [(clrModalOpen)]="open">
        <h3 class="modal-title">Create a new project</h3>
        <div class="modal-body">
            <section class="form-block">
                <div class="form-group">
                    <label for="projectName">Project name</label>
                    <label for="projectName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="projectNameImput.invalid && (projectNameImput.dirty || projectNameImput.touched)">
                        <input type="text" id="projectName" placeholder="Enter project name" required name="projectName" [(ngModel)]="projectName"
                            #projectNameImput="ngModel">
                        <span class="tooltip-content">
                            Project Name is Required.
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="projectDescription">Project description</label>
                    <label for="projectDescription" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="projectDescriptionImput.invalid && (projectDescriptionImput.dirty || projectDescriptionImput.touched)">
                        <input type="text" id="projectDescription" placeholder="Enter project description" name="projectDescription" [(ngModel)]="projectDescription"
                            #projectDescriptionImput="ngModel">
                    </label>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="onSubmit()" (click)="open = false" [disabled]="bimsyncProjectForm.form.invalid">Create</button>
        </div>
    </clr-modal>
</form>

<table class="table" *ngIf='createdProject'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{createdProject.name}}</td>
            <td>{{createdProject.description}}</td>
        </tr>
    </tbody>
</table>

<table class="table" *ngIf='projects && projects.length'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let project of projects'>
            <td>
                <a href="https://bimsync.com/project/{{project.id}}">{{project.name}}</a>
            </td>
            <td>{{project.description}}</td>
        </tr>
    </tbody>
</table>