<div *ngIf='IsBCF'>
    <p>To create issue boards on your project, you must authorized it first</p>
    <a class="btn btn-primary" href="https://api.bimsync.com/1.0/oauth/authorize?client_id=hl94XJLXaQe3ogX&response_type=code&state=bcf&redirect_uri={{_appService._callbackUrl}}">Authorize</a>
</div>

<button class="btn btn-primary" (click)="open = true">Create Project</button>
<form #bimsyncProjectForm="ngForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
    <clr-modal [(clrModalOpen)]="open">
        <h3 class="modal-title">Create a new project</h3>
        <div class="modal-body">
            <section class="form-block">
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="jsonConfig" class="required">Json Configuration</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <textarea id="jsonConfig" rows="8" placeholder="Type in JSON configuration commands" required name="jsonConfig" [(ngModel)]="jsonConfig"
                            #jsonConfigImput="ngModel"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="jsonConfig" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-left" [class.invalid]="jsonConfigImput.invalid && (jsonConfigImput.dirty || jsonConfigImput.touched)">
                            <span class="tooltip-content">
                                Project Name is Required.
                            </span>
                        </label>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="onSubmit()" (click)="open = false" [disabled]="bimsyncProjectForm.form.invalid">Create</button>
        </div>
    </clr-modal>
</form>

<table class="table" *ngIf='createdProject'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{createdProject.name}}</td>
            <td>{{createdProject.description}}</td>
            <td>{{createdProject.id}}</td>
        </tr>
    </tbody>
</table>

<table class="table" *ngIf='projects && projects.length'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let project of projects'>
            <td>
                <a href="https://bimsync.com/project/{{project.id}}">{{project.name}}</a>
            </td>
            <td>{{project.description}}</td>
            <td>{{project.id}}</td>
            <td>
                <button class="btn btn-link btn-icon btn-inline" (click)="Share(project)">
                    <clr-icon shape="share" class="is-solid"></clr-icon>
                </button>
                <!-- add the #shareModal -->
                <app-share-modal #shareModal></app-share-modal>
            </td>
        </tr>
    </tbody>
</table>