<div class="container">
  <mat-form-field>
    <mat-label>Select a model</mat-label>
    <mat-select [(value)]="selectedModel" name="models" (selectionChange)="modelChange($event)">
      <mat-option *ngFor="let model of models" [value]="model">
        {{model.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select a revision</mat-label>
    <mat-select [(value)]="selectedRevision" name="revisions" (selectionChange)="revisionChange($event)">
      <mat-option *ngFor="let revision of revisions" [value]="revision">
        {{revision.version}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select a category</mat-label>
    <mat-select [(value)]="selectedCategory" name="categories" (selectionChange)="categoryChange($event)">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<p>
  {{selectedModel?.name}}
</p>
<p>
  {{selectedRevision?.version}} - {{selectedRevision?.createdAt | date}}
</p>