.viewer-container {
    height: 100%;
    width: 100%;
}
  
.viewer-container #viewer-3d {
    height: 100%;
    width: 100%;
}

.button-container {
      position: absolute;
      left: calc(50% - 36px);
}

.spinner.centered {
  position: absolute;
  margin-top: 20%;
  left: calc(50% - 36px);
}

.btn {
    background: #fafafa;
}

.panel-container {
    position: absolute;
    right: 0.5rem;
    max-width: 13rem;
    max-height: 100%;
    overflow-y: auto;
}