<mat-list-item>
  <div mat-icon-button mat-list-icon>
    <!-- <mat-icon style="vertical-align: super;">grade</mat-icon> -->
    <mat-icon *ngIf="starVisible" style="vertical-align: super;">grade</mat-icon>
  </div>
  <a matLine href="#" [routerLink]="['/takeoff', project.id]" routerLinkActive="active">
    {{project.name}}
  </a>
  <p mat-line> {{project.updatedAt | date}} </p>
  <a mat-icon-button matTooltip="Open in Bimsync" matTooltipPosition="left"
    href="https://bimsync.com/project/{{project.id}}">
    <mat-icon>launch</mat-icon>
  </a>
</mat-list-item>