<div *ngIf="user">
  <mat-menu #appMenu="matMenu">
    <a href="https://bimsync.com/account/profile" mat-menu-item>My account</a>
    <button mat-menu-item>Help</button>
    <button mat-menu-item (click)="logout()">Log out</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="appMenu">
    <img class="avatar"
      src="{{avatarUrl$ | async}}" >
    <mat-icon>expand_more</mat-icon>
  </button>
</div>
<div *ngIf="!user">
  <a mat-flat-button color="accent"
    href="https://api.bimsync.com/oauth2/authorize?client_id={{clientId}}&response_type=code&state=api&redirect_uri={{callbackUrl}}">
    Log In
  </a>
</div>