#viewer-2d-container {
  position: absolute;
  right: 0px;
  bottom: 20px;
  width: 320px;
  height: 320px;
  padding: 10px;
  background-color: transparent;
}

#viewer-2d-container.enlarged {
  width: 100%;
  height: 80%;
}

#viewer-2d {
  height: 100%;
  background-color:rgba(252, 252, 252, 0.9);
  border: 1px solid #eef0f1;
}

#Toogle2DButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.viewer-container {
  height: 100%;
  width: 100%; }

.viewer-container #viewer-3d {
  height: 100%;
  width: 100%; }

  .dropdown-menu {
    max-width: 18rem;
  }

  .dropdown-table tr {
    padding-right: 0px;
  }

  .dropdown-table td:first-child {
    max-width: 12rem;
    min-width: 12rem;
  }

  .model-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  .bs-viewer-loaded .bs-toggle-2d {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 4px 8px;
    display: inline-block;
}

.bs-viewer-loaded .bs-enlarge-2d {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 4px 8px;
  display: inline-block;
}

  // .dropdown-table td {
  //   vertical-align: middle;
  //   align-content: center;
  // }

