<app-viewer-host class="viewer" *ngIf="revisionIds"
[revisionIds]="revisionIds"
[projectId]="projectId"
[highlightedElements]="highlightedElements">
</app-viewer-host>

<div class="flexbox">
  <div class="panel">
    <app-panel left title="Models">
      <app-revision-selection [projectId]="projectId"
      (revisionChange)="revisionChange($event)"
      (categoryChange)="categoryChange($event)">
    </app-revision-selection>
    <app-property-tree></app-property-tree>
    </app-panel>
  </div>
  <div class="panel bottom-panel">
    <app-panel left title="Quantities"></app-panel>
  </div>
  <div class="panel">
    <app-panel title="Properties"></app-panel>
  </div>
</div>