<clr-main-container class="main-container">
  <clr-header *ngIf="DisplayHeader()">
    <div class="branding">
      <a href="#" class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">bimsync Manager</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" href="#" [routerLink]="['/projects']" routerLinkActive="active" *ngIf="appService._user">
        <span class="nav-text">Projects</span>
      </a>
      <!-- <a class="nav-link" href="#" [routerLink]="['/takeoff']" routerLinkActive="active" *ngIf="appService._user">
        <span class="nav-text">Takeoff</span>
      </a> -->
      <a class="nav-link" href="#" [routerLink]="['/documentation']" routerLinkActive="active">
        <span class="nav-text">Help</span>
      </a>
    </div>
    <div class="header-actions" *ngIf="appService._user">
      <span class="nav-link nav-text">Hello {{appService._user.Name}}</span>
      <a class="nav-link" href="#" (click)="LogOut()">
        <span class="nav-text">Log Out</span>
      </a>
    </div>
    <div class="header-actions" *ngIf="!appService._user">
      <a class="nav-link nav-text" href="https://api.bimsync.com/oauth2/authorize?client_id={{appService._client_id}}&response_type=code&state=api&redirect_uri={{appService._callbackUrl}}">
        Connect
      </a>
    </div>

  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>