.btn-label {
    padding: 0;
}

.dropdown .btn-drop {
    border-color: transparent;
    background-color: transparent;
    color: #0077b7;
    vertical-align: middle;
}

.btn-drop clr-icon {
    height: .6rem;
    width: .6rem;
}

.with-margin {
    margin-left: 0.4rem;
}