<div class='field'>
  {{displayedProperty.displayName}}
  <div class='dropdown'>
    <clr-dropdown>
      <button type='button' clrDropdownTrigger class='btn-drop with-margin'>
        <clr-icon shape='caret' dir='down'></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen>
        <button type='button' clrDropdownItem (click)=onClosing()>Remove field</button>
        <clr-dropdown style="margin-left: 0px;">
          <button type='button' clrDropdownTrigger>Move</button>
          <clr-dropdown-menu>
              <button type="button" clrDropdownItem [disabled]="displayedProperty.isFirst" (click)=onUpdatePropertyRank(0)>Up</button>
              <button type="button" clrDropdownItem [disabled]="displayedProperty.isLast" (click)=onUpdatePropertyRank(1)>Down</button>
              <button type="button" clrDropdownItem [disabled]="displayedProperty.isFirst" (click)=onUpdatePropertyRank(2)>To Top</button>
              <button type="button" clrDropdownItem [disabled]="displayedProperty.isLast" (click)=onUpdatePropertyRank(3)>To bottom</button>
          </clr-dropdown-menu>
      </clr-dropdown>
        <div class='dropdown-divider'></div>
        <button type='button' clrDropdownItem *ngFor='let groupingMode of displayedProperty.availableGroupingModes' (click)=onUpdateProperty(groupingMode)>
          <clr-icon shape='check' *ngIf='groupingMode.isEnabled' class="is-info"></clr-icon> {{groupingMode.modeName}}
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
    <button class='btn btn-icon btn-link btn-label with-margin' (click)=onClosing()>
      <clr-icon shape='window-close'></clr-icon>
    </button>
  </div>
</div>