<p *ngIf="selectedProduct">
  {{selectedProduct.objectId}}
</p>
<clr-tree-node *ngFor='let displayedPropertySet of displayedPropertySets'>
  {{displayedPropertySet.name}}
  <ng-template [clrIfExpanded]='true'>
      <clr-tree-node draggable *ngFor='let displayedProperty of displayedPropertySet.properties'
          [(clrSelected)]='displayedProperty.enable' (clrSelectedChange)='onTreeSelectionChange(displayedProperty)'
          [dragData]='displayedProperty'>
          <clr-icon class='is-highlight' [attr.shape]='displayedProperty.icon'></clr-icon>
          {{displayedProperty.name}} - {{displayedProperty.propertyValue}}
      </clr-tree-node>
  </ng-template>
</clr-tree-node>