<div class='property' *ngFor='let displayedPropertySet of displayedPropertySets'>
    <table class='table'>
        <thead>
            <tr>
                <th class='left' colspan='2'>{{displayedPropertySet.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let displayedProperty of displayedPropertySet.properties'>
                <td class='left'>{{displayedProperty.name}}</td>
                <td class='left'>{{displayedProperty.displayedValue}}</td>
            </tr>
        </tbody>
    </table>
</div>