<clr-stack-view>
    <clr-stack-block [clrSbExpanded]="true" *ngFor="let displayedPropertySet of displayedPropertySets">
        <clr-stack-label> </clr-stack-label>
        <clr-stack-content>{{displayedPropertySet.name}}</clr-stack-content>
        <clr-stack-block *ngFor="let displayedProperty of displayedPropertySet.properties">
            <clr-stack-label>{{displayedProperty.name}}</clr-stack-label>
            <clr-stack-content>{{displayedProperty.displayedValue}}</clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>
</clr-stack-view>

