<div>
  <div *ngIf="loading" class="spinner flex-container">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading" class="content">
    <mat-nav-list>
      <h3 mat-subheader>Favorites</h3>
      <app-project *ngFor="let star of starred" [project]="star" [starVisible]="true"></app-project>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Projects</h3>
      <app-project *ngFor="let project of projects" [project]="project" [starVisible]="false" ></app-project>
    </mat-nav-list>
  </div>
</div>