.drop-zone {
    width: 400px;
    box-sizing: border-box;
    border: 2px dashed rgba(0,0,0,.87);;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.zone {
    max-height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.no-property {
    padding: 0.625rem 1rem 0.625rem 0.5rem;
}

.cdk-drop-list-dragging .no-property {
    display: none;
}

.mat-small {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.mat-chip-small {
    padding: 1px 12px;
}

.chip-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.chip-menu-button {
    height: 30px;
    line-height: 30px;
}





