.modal-body.modal-text {
    margin-bottom: 0.5rem;
    text-align: left;
}

.modal-body {
    max-height: 30vh;
}

.table td{
    vertical-align: baseline;
}

.table div.toggle-switch{
    max-width: 10px;
}

input.readonly{
    border-bottom: 1px solid #9a9a9a;
}

.select{
    min-width: 4.5rem;
    max-width: 10rem;
}

.right{
    float: right;
}

.left{
    float: left;
}

//calc(100% - 2rem);

.clr-input{
    width: calc(100% - 2rem);
}