.modal-body.modal-text {
    margin-bottom: 0.5rem;
    text-align: left;
}

.table td{
    vertical-align: baseline;
}

.right{
    float: right;
}

.left{
    float: left;
}

.row.space{
    margin-top: 1rem;
}