<clr-modal [(clrModalOpen)]="share" class="modal-dialog">
    <h3 class="modal-title" *ngIf="selectedProject">Share {{selectedProject.name}}</h3>
    <div class="modal-body modal-text">
        <div class="alert alert-warning">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        You are about to create a link to your models. Once published, anyone with the link will be able to access your models.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <table class="table table-noborder">
            <tbody>
                <tr *ngFor='let model of models'>
                    <td>{{model.name}}</td>
                    <td>
                        <div class="toggle-switch" *ngIf="model.revisions?.length > 0">
                            <input type="checkbox" id="toggle-{{model.id}}" [(ngModel)]="model.isSelected">
                            <label for="toggle-{{model.id}}"></label>
                        </div>
                    </td>
                    <td>
                        <div class="select" *ngIf="model.revisions?.length > 0">
                            <select id="selects-{{model.id}}" [(ngModel)]="model.selectedRevision" [disabled]="!model.isSelected">
                                <option *ngFor='let revision of model.revisions' [ngValue]="revision">Revision #{{revision.version}}</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-body">
        <table class="table table-noborder ">
            <tbody>
                <tr>
                    <td class="left">
                        <div class="toggle-switch">
                            <input type="checkbox" id="toggle-all" (change)="SelectAllModels()" [(ngModel)]="selectAll">
                            <label for="toggle-all">Select All models</label>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="Publish()">Publish</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="share = false">Cancel</button>
    </div>
</clr-modal>