.modal-body.modal-text {
    margin-bottom: 0.5rem;
    text-align: left;
}

.table td{
    vertical-align: baseline;
}

.table div.toggle-switch{
    max-width: 10px;
}

input.readonly{
    border-bottom: 1px solid #9a9a9a;
}

.table div.select{
    min-width: 100px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.row.space{
    margin-top: 1rem;
}