<div class='clr-row' style='height: 100%;'>
    <div class='clr-col-4 box'>
        <h4>{{selectedProject.name}}</h4>
        <div *ngIf='models && models.length'>
            <label for='selects_2'>Models</label>
            <div class='select'>
                <select id='selects_2' (change)='GetRevisions()' [(ngModel)]='selectedModel'>
                    <option *ngFor='let model of models; let i = index; trackBy: trackByFn' [ngValue]='model'>{{model.name}}</option>
                </select>
            </div>
        </div>

        <div *ngIf='revisions && revisions.length'>
            <label for='selects_3'>Revisions</label>
            <div class='select'>
                <select id='selects_3' (change)='GetProductTypeSummary()' [(ngModel)]='selectedRevision'>
                    <option *ngFor='let revision of revisions; let i = index; trackBy: trackByFn' [ngValue]='revision'>{{revision.version}}</option>
                </select>
            </div>
        </div>

        <div *ngIf='ifcClasses && ifcClasses.length'>
            <label for='selects_4'>Categories</label>
            <div class='select'>
                <select id='selects_4' (change)='GetProducts()' [(ngModel)]='selectedIfcClass'>
                    <option *ngFor='let ifcClass of ifcClasses; let i = index; trackBy: trackByFn' [ngValue]='ifcClass'>{{ifcClass.typeName}}
                        ({{ifcClass.typeQuantity}})</option>
                </select>
            </div>
        </div>
        <div class='item customTable' *ngIf='selectedIfcClass'>
            <div class='firstline'>
                Values
            </div>
            <div class='line' droppable (onDrop)='onValuePropertyDrop($event)'>
                <span *ngIf='!selectedValueProperties.length'>Drop properties here ...</span>
                <app-field-selector *ngFor='let selectedProperty of selectedValueProperties' (propertyClosed)='onValueLabelClose(selectedProperty)'
                    (propertyUpdated)='onSelectedValueUpdate(selectedProperty,$event)' (rankUpdated)='onRankUpdated(selectedProperty,$event)'
                    [displayedProperty]='selectedProperty'>
                </app-field-selector>
            </div>
        </div>
        <div class='content customTable box' *ngIf='selectedIfcClass'>
            <div class='firstline item'>
                Properties
            </div>
            <div class='line content' droppable (onDrop)='onValuePropertyDrop($event)' style='padding: 0; padding-left: 0.5rem;overflow-y: auto;overflow-x: hidden'>
                <span class='spinner centered' *ngIf='selectedProductsLoading'>
                    Loading
                </span>
                <div *ngIf='!selectedProductsLoading'>
                    <clr-tree-node *ngFor='let displayedPropertySet of displayedPropertySets'>
                        {{displayedPropertySet.name}}
                        <ng-template [clrIfExpanded]='true'>
                            <clr-tree-node draggable *ngFor='let displayedProperty of displayedPropertySet.properties'
                                [(clrSelected)]='displayedProperty.enable' (clrSelectedChange)='onTreeSelectionChange(displayedProperty)'
                                [dragData]='displayedProperty'>
                                <clr-icon class='is-highlight' [attr.shape]='displayedProperty.icon'></clr-icon>
                                {{displayedProperty.name}}
                            </clr-tree-node>
                        </ng-template>
                    </clr-tree-node>
                </div>
            </div>
        </div>

    </div>
    <div class='clr-col-8' style="position: relative">

        <span class='spinner centered' *ngIf='modelLoading'>
            Loading
        </span>
        <app-viewer3d *ngIf='viewer3dToken' 
        [viewerToken]='viewer3dToken'
        [projectId]='selectedProject.id'
        (isLoaded)='onModelLoaded($event)'
        >

        </app-viewer3d>
        <div style="position: absolute;bottom: 0;left: 0.5rem; right: 0.5rem;">
            <clr-datagrid *ngIf='listOfRows && listOfRows.length'>
                <clr-dg-column [clrDgField]="selectedValueProperty.columnGuid" *ngFor='let selectedValueProperty of selectedValueProperties'>{{selectedValueProperty.displayName}}</clr-dg-column>
                <clr-dg-row *clrDgItems='let row of listOfRows'>
                    <clr-dg-cell *ngFor='let selectedValueProperty of selectedValueProperties'>{{row[selectedValueProperty.columnGuid]}}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>
                    <div class="left">
                        <button class="btn btn-link btn-icon btn-inline" (click)="DownloadData()">
                            <clr-icon shape="download" class="is-solid"></clr-icon> Download
                        </button>
                    </div>
                    <clr-dg-pagination #pagination [clrDgPageSize]="8">
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        of {{pagination.totalItems}}
                    </clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
    </div>
</div>