  .spinner.centered {
    margin-top: 20%;
    left: calc(50% - 36px);
  }

  .box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .box .item {
    flex: 0 1 auto;
  }

  .box .content {
    flex: 1 1 auto;
  }

  .customTable {
    border-collapse: separate;
    border: 1px solid #ccc;
    border-radius: .125rem;
    background-color: #fff;
    color: #565656;
    margin: 0;
    margin-top: 1rem;
    max-width: 100%;
    width: 100%;
  }

  .customTable .firstline {
    border-radius: 0 calc(.125rem - 1px) 0 0;
    color: #565656;
    font-size: .458333rem;
    font-weight: 600;
    letter-spacing: .03em;
    background-color: #fafafa;
    vertical-align: bottom;
    border-bottom: 1px solid #ccc;
    border-top: 0 none;
    line-height: .583333rem;
    padding: 0.458333rem .5rem .458333rem .25rem;
  }

  .customTable .line {
    border-radius: 0 0 calc(.125rem - 1px) 0;
    line-height: .583333rem;
    padding: 0.458333rem .5rem .458333rem .25rem;
  }

  .btn.btn-inline{
    margin: 0;
    padding: 0;
    color: #565656;
    line-height: calc(1.5rem - 3px);
    font-size: .458333rem;
    font-weight: 400;
}

.left {
  text-align: left;
}