<div class="clr-row">
    <div class="clr-col-4" style="height: 30rem; overflow: auto">
        <div *ngIf='projects && projects.length'>
            <label for="selects_1">Projects</label>
            <div class="select">
                <select id="selects_1" (change)="GetModels()" [(ngModel)]="selectedProject">
                    <option *ngFor='let project of projects' [ngValue]="project">{{project.name}}</option>
                </select>
            </div>
        </div>

        <div *ngIf='models && models.length'>
            <label for="selects_2">Models</label>
            <div class="select">
                <select id="selects_2" (change)="GetRevisions()" [(ngModel)]="selectedModel">
                    <option *ngFor='let model of models; let i = index; trackBy: trackByFn' [ngValue]="model">{{model.name}}</option>
                </select>
            </div>
        </div>

        <div *ngIf='revisions && revisions.length'>
            <label for="selects_3">Revisions</label>
            <div class="select">
                <select id="selects_3" (change)="GetProductTypeSummary()" [(ngModel)]="selectedRevision">
                    <option *ngFor='let revision of revisions; let i = index; trackBy: trackByFn' [ngValue]="revision">{{revision.version}}</option>
                </select>
            </div>
        </div>

        <div *ngIf='ifcClasses && ifcClasses.length'>
            <label for="selects_4">Categories</label>
            <div class="select">
                <select id="selects_4" (change)="GetProducts()" [(ngModel)]="selectedIfcClass">
                    <option *ngFor='let ifcClass of ifcClasses; let i = index; trackBy: trackByFn' [ngValue]="ifcClass">{{ifcClass.typeName}}</option>
                </select>
            </div>
        </div>
        <p *ngIf='selectedIfcClass'>Number of elements :
            <span *ngIf='selectedProductsLoading' class="spinner spinner-inline">
                Loading...
            </span>
            <span *ngIf='!selectedProductsLoading'>{{selectedProducts.length}}</span>
        </p>
        <div *ngIf='selectedIfcClass' class="card" droppable>
            <div class="card-block">
                <div class="card-title">
                    Row
                </div>
                <div class="card-text">
                    Drop here
                </div>
            </div>
        </div>
        <div *ngIf='selectedIfcClass' class="card" droppable (onDrop)="onValuePropertyDrop($event)">
            <div class="card-block">
                <div class="card-title">
                    Values
                </div>
                <div class="card-text">
                    <span *ngIf='!selectedValueProperties.length'>Drop here</span>
                    <span class="label clickable" (click)=onValueLabelClick(selectedProperty) *ngFor="let selectedProperty of selectedValueProperties">
                        {{selectedProperty.name}}
                        <clr-icon shape="window-close"></clr-icon>
                    </span>
                </div>
            </div>
        </div>

        <clr-tree-node *ngFor="let displayedPropertySet of displayedPropertySets">
            {{displayedPropertySet.name}}
            <ng-template [clrIfExpanded]="true">
                <clr-tree-node draggable *ngFor="let displayedProperty of displayedPropertySet.properties"
                    [(clrSelected)]="displayedProperty.enable" (clrSelectedChange)="onTreeSelectionChange(displayedProperty)"
                    [dragData]="displayedProperty">
                    {{displayedProperty.name}}
                </clr-tree-node>
            </ng-template>
        </clr-tree-node>
    </div>
    <div class="clr-col-8" style="height: 30rem; overflow: auto">
        <table class="table" *ngIf='selectedValueProperties && selectedValueProperties.length'>
            <thead>
                <tr>
                    <th>Grouping Prop</th>
                    <th>Count</th>
                    <th *ngFor="let selectedProperty of selectedValueProperties">{{selectedProperty.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let key of objectKeys(groupedProperties)'>
                    <td>{{key}}</td>
                    <td>{{groupedProperties[key]}}</td>
                    <td *ngFor="let selectedProperty of selectedValueProperties">{{selectedProperty.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<table class="table" *ngIf='ifcClasses && ifcClasses.length'>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let ifcClass of ifcClasses'>
            <td>{{ifcClass.typeName}}</td>
            <td>{{ifcClass.typeQuantity}}</td>
        </tr>
    </tbody>
</table>