<header class="header-background">
    <div class="header-section">
      <div class="header-headline">
        <h1>BimsyncManager</h1>
        <h2>A web interface to manage your Bimsync® projects.</h2>
      </div>
      <div class="header-start"><a class="button mat-raised-button" mat-raised-button=""
        [routerLink]="['/projects']" routerLinkActive="active" tabindex="0" aria-disabled="false" href="/guide/getting-started"><span
            class="mat-button-wrapper">Get started</span>
          <div class="mat-button-ripple mat-ripple" matripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </a></div>
    </div>
  </header>

  <div class="homepage-promo">
    <div class="homepage-row">
      <div class="homepage-promo-img">
        <img src="../../../assets/images/qto.png" class="image" style="height: 360px;">
      </div>
      <div class="homepage-promo-desc">
        <h2>Powerfull Quantity TakeOff</h2>
        <p>Extract, group and organize all the quantities from your bimsync models. Display them with a beautiful
          color-coded visualization.</p>
      </div>
    </div>
    <div class="homepage-row homepage-reverse-row">
        <div class="homepage-promo-img">
            <img src="../../../assets/images/share.png" class="image" style="height: 360px;">
          </div>
      <div class="homepage-promo-desc">
        <h2>Share models</h2>
        <p>Share your models in a easy-to-use visualization.</p>
      </div>
    </div>
  </div>