/* You can add global styles to this file, and also import other style files */

.layout-default .main-container {
  display: block;
  height: auto;
  min-height: 100vh; }

body.layout-home {
  background-color: #fafafa; }
  body.layout-home .main-container {
    height: auto; }
    body.layout-home .main-container .content-area {
      overflow-x: hidden;
      padding: 0; }
  body.layout-home section {
    padding-top: 96px;
    padding-bottom: 96px; }
    body.layout-home section.home-hero {
      padding-top: 60px;
      padding-bottom: 72px; }
    body.layout-home section.home-cards, body.layout-home section.home-process {
      padding-top: 0; }
    body.layout-home section.home-contact {
      padding: 0; }
